body
 {
	margin: 0;
	padding: 0;
 }

canvas
 {
 	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden
 }

 div{
	position: absolute;
	color: palevioletred;
	font-size: 40px;
 }

 input{
	position: absolute;
	color: palevioletred;
	left: 2px;
	top: 40px;
 }
